.ant-drawer-content-wrapper{
  min-width: 400px;
  background-color: #999999!important;
  .ant-drawer-content{
    background-color:#e5e5e5;
  }
}
.ant-calendar-picker-input.ant-input{
  width: 320px!important;
  height: 30px!important;
}
.btn-container{
  position: absolute;
  bottom: 30px;
  right: 40px;
  Button{
    margin-right: 10px;
  }
}
.inputCourseInfo{
  .input-box{
    .title{
      width: 100%;
      line-height: 30px;
      font-size: 14px;
      font-weight: bold;
    }
    input{
      width: 200px;
      outline: none;
      border: 0;
      height: 30px;
      background: #fff;
      margin-bottom: 10px;
    }
  }
}
.ant-modal-body{
  .inputBox{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    .type{
      width: 200px;
      line-height: 32px;
    }
  }
}