@import "./init.less";
body {
  background-color: blue;
  display: flex;
  flex-direction: column;
  transition: all 300ms ease-in;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
}
::placeholder {
  color: gray;
}
